* {
    margin: 0;
    font-family: "Mulish", sans-serif;
}

body {
    max-width: 1170px;
    margin: 0 auto;
    /* margin: 0px 135px; */
}


.color-secondary {
    color: #FF5400;
}

/* Navbar Section  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #131318;
    margin: 50px 0;
}

.nav-logo-title{
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar h1 {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

ul li a {
    text-decoration: none;
    color: #424247;
}

/* Header Top Section  */

.top-section {
    background-image: url('images/img1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
    color: #ffffff;

}

.top-container {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top-title {
    font-size: 64px;
    margin: 105px 0 25px;
    padding: 0;
}

#top-content {
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
}

.top-form {
    background-color: rgba(255, 255, 255, 0.30);
    padding: 16px;
    border-radius: 8px;
}

.field-area {
    width: 175px;
    height: 52px;
    /* text-decoration: none; */
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 8px;
}

/* Popular Section  */

/* Destination Section  */

.destination-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.destination {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#destiny-1 {
    background-image: url('images/maldives.png');
}

#destiny-2 {
    background-image: url('images/indonesia.png');
}

#destiny-3 {
    background-image: url('images/srilanka.png');
}

#destiny-4 {
    background-image: url('images/northamerica.png');
}

#destiny-5 {
    background-image: url('images/kashmir.png');
}

#destiny-6 {
    background-image: url('images/bangladesh.png');
}

#destiny-7 {
    background-image: url('images/bandarban.png');
}